
/* Your CSS Code here. */

.heading {
    width: 200px;
    background-color: purple;
    border-left: 5px solid green;
    padding: 10px;
    font-size: 20px;
    color: white;
	position: relative;
}

.heading::after {
    content: "";
    position: absolute;
    display: block;
	left : 5%;
	bottom: 10px;
	width: 58%;
    height: 2px;
    background: white;
}